.Idiom {
  border: 1px solid white;
  font-size: 16px;
  margin: 20px 0;
  padding: 10px;
  .name {
    font-weight: bold;
    font-size: 18px;
  }
  .meaning {
    margin-top: 8px;
    margin-bottom: 12px;
    font-style: italic;
    font-size: 15px;
    color: lighten(lightgray, 5%);
  }
  .example {
    color: lighten(lightgray, 10%);
  }
  &:first-of-type {
    margin-top: 0;
  }
}
