* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

.App {
  font-family: Arial;
  font-size: 20px;
  width: 360px;
  margin: auto;
}

.App h1 {
  font-size: 32px;
  font-weight: normal;
}

.App h2 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: normal;
}

.App .letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .letters .letter {
  cursor: pointer;
  border: 1px solid black;
  margin: 8px;
  padding: 12px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(grey));
  background: linear-gradient(#f2f2f2, grey);
}

.App .idioms .idiom {
  margin: 20px 0;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(white));
  background: linear-gradient(#e5e5e5, white);
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  font-size: 16px;
}

.App .idioms .idiom .name {
  margin-bottom: 10px;
}

.App .idioms .idiom .example {
  font-style: italic;
}
