@import "reset";
@import "responsive";

.App {
  width: 320px;
  margin: 0 auto;
  padding: 15px;
  font-size: 20px;
  box-shadow: 1px 1px 4px rgba(black, 0.5);
  .generate {
    cursor: pointer;
    width: 100%;
    padding: 8px 20px;
    border: 2px solid grey;
    text-shadow: 1px 1px rgba(#777, 0.8);
    transition: 0.3s;
    &:hover {
      background: grey;
      color: white;
    }
  }
}
