* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

.App {
  font-family: Arial;
  font-size: 20px;
  width: 360px;
  margin: auto;
}

.App h1 {
  font-size: 32px;
  font-weight: normal;
}

.App h2 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: normal;
}

.App .letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .letters .letter {
  cursor: pointer;
  border: 1px solid black;
  margin: 8px;
  padding: 12px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(grey));
  background: linear-gradient(#f2f2f2, grey);
}

.App .idioms .idiom {
  margin: 20px 0;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(white));
  background: linear-gradient(#e5e5e5, white);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .idioms .idiom:hover {
  -webkit-box-shadow: 1px 2px 7px black;
          box-shadow: 1px 2px 7px black;
}

.App .idioms .idiom .name {
  margin-bottom: 10px;
}

.App .idioms .idiom .example {
  font-style: italic;
}

.App {
  width: 480px;
}

.Parser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.Parser .left {
  width: 70%;
}

.Parser .left h1 {
  margin-bottom: 20px;
}

.Parser .left input[type="text"],
.Parser .left textarea {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
  resize: none;
  width: 100%;
}

.Parser .left input[type="text"].desc,
.Parser .left textarea.desc {
  margin: 20px 0;
  height: 150px;
}

.Parser .left button {
  cursor: pointer;
  width: 100%;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid black;
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: deepskyblue;
  color: white;
  text-shadow: 1px 2px 3px black;
  outline: none;
}

.Parser .left button.animate {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background: green;
}

.Parser .left button:hover {
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
}

.Parser .right {
  font-size: 24px;
  text-align: center;
}
